{
    "swagger": "2.0",
    "info": {
      "title": "ManagedResolverManagementClient",
      "description": "The Managed DNS Resolver Management Client.",
      "version": "2020-01-01-preview"
    },
    "host": "management.azure.com",
    "schemes": [
      "https"
    ],
    "consumes": [
      "application/json"
    ],
    "produces": [
      "application/json"
    ],
    "securityDefinitions": {
      "azure_auth": {
        "type": "oauth2",
        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
        "flow": "implicit",
        "description": "Azure Active Directory OAuth2 Flow",
        "scopes": {
          "user_impersonation": "impersonate your user account"
        }
      }
    },
    "paths": {
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/managedResolvers/{managedResolverName}": {
        "put": {
          "tags": [
            "Resolvers"
          ],
          "operationId": "Resolvers_CreateOrUpdate",
          "description": "Creates or updates a managed DNS resolver. Does not modify virtual network or ruleset associated with the resolver.",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/ResolverNameParameter"
            },
            {
              "name": "parameters",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/Resolver"
              },
              "description": "Parameters supplied to the CreateOrUpdate operation."
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "#/parameters/IfMatchParameter"
            },
            {
              "$ref": "#/parameters/IfNoneMatchParameter"
            }
          ],
          "responses": {
            "201": {
              "description": "The managed DNS resolver has been created.",
              "schema": {
                "$ref": "#/definitions/Resolver"
              }
            },
            "200": {
              "description": "The managed DNS resolver has been updated.",
              "schema": {
                "$ref": "#/definitions/Resolver"
              }
            },
            "202": {
              "description": "The managed DNS resolver upsert operation has been accepted and will complete asynchronously."
            },
            "default": {
              "description": "Default response. It will be deserialized as per the Error definition.",
              "schema": {
                "$ref": "#/definitions/CloudError"
              }
            }
          },
          "x-ms-long-running-operation": true,
          "x-ms-examples": {
            "PUT managed DNS resolver": {
              "$ref": "./examples/Resolver_Put.json"
            }
          }
        },
        "patch": {
          "tags": [
            "Resolvers"
          ],
          "operationId": "Resolvers_Update",
          "description": "Updates a managed DNS resolver. Does not modify virtual network or ruleset associated with the resolver.",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/ResolverNameParameter"
            },
            {
              "name": "parameters",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/Resolver"
              },
              "description": "Parameters supplied to the Update operation."
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "#/parameters/IfMatchParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "The managed DNS resolver has been updated.",
              "schema": {
                "$ref": "#/definitions/Resolver"
              }
            },
            "202": {
              "description": "The managed DNS resolver update operation has been accepted and will complete asynchronously."
            },
            "default": {
              "description": "Default response. It will be deserialized as per the Error definition.",
              "schema": {
                "$ref": "#/definitions/CloudError"
              }
            }
          },
          "x-ms-long-running-operation": true,
          "x-ms-examples": {
            "PATCH managed DNS resolver": {
              "$ref": "./examples/Resolver_Patch.json"
            }
          }
        },
        "delete": {
          "tags": [
            "Resolvers"
          ],
          "operationId": "Resolvers_Delete",
          "description": "Deletes a managed DNS resolver. WARNING: This operation cannot be undone. This operation does not delete or modify the virtual network or ruleset associated with the resolver.",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/ResolverNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "#/parameters/IfMatchParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "The managed DNS resolver has been deleted."
            },
            "202": {
              "description": "The managed DNS resolver delete operation has been accepted and will complete asynchronously."
            },
            "204": {
              "description": "The managed DNS resolver was not found."
            },
            "default": {
              "description": "Default response. It will be deserialized as per the Error definition.",
              "schema": {
                "$ref": "#/definitions/CloudError"
              }
            }
          },
          "x-ms-long-running-operation": true,
          "x-ms-examples": {
            "DELETE managed DNS resolver": {
              "$ref": "./examples/Resolver_Delete.json"
            }
          }
        },
        "get": {
          "tags": [
            "Resolvers"
          ],
          "operationId": "Resolvers_Get",
          "description": "Gets a managed DNS resolver properties.",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/ResolverNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "The managed DNS resolver was found.",
              "schema": {
                "$ref": "#/definitions/Resolver"
              }
            },
            "default": {
              "description": "Default response. It will be deserialized as per the Error definition.",
              "schema": {
                "$ref": "#/definitions/CloudError"
              }
            }
          },
          "x-ms-examples": {
            "GET managed DNS resolver": {
              "$ref": "./examples/Resolver_Get.json"
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/managedResolvers": {
        "get": {
          "tags": [
            "Resolvers"
          ],
          "operationId": "Resolvers_ListByResourceGroup",
          "description": "Lists the managed DNS resolvers within a resource group.",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "#/parameters/TopParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "The operation succeeded.",
              "schema": {
                "$ref": "#/definitions/ResolverListResult"
              }
            },
            "default": {
              "description": "Default response. It will be deserialized as per the Error definition.",
              "schema": {
                "$ref": "#/definitions/CloudError"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          },
          "x-ms-examples": {
            "GET managed DNS resolvers by Resource Group": {
              "$ref": "./examples/Resolver_ListInResourceGroup.json"
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/providers/Microsoft.Network/managedResolvers": {
        "get": {
          "tags": [
            "Resolvers"
          ],
          "operationId": "Resolvers_List",
          "description": "Lists the managed DNS resolvers in all resource groups in a subscription.",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/ResolverNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "#/parameters/TopParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "The operation succeeded.",
              "schema": {
                "$ref": "#/definitions/ResolverListResult"
              }
            },
            "default": {
              "description": "Default response. It will be deserialized as per the Error definition.",
              "schema": {
                "$ref": "#/definitions/CloudError"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          },
          "x-ms-examples": {
            "GET managed DNS resolvers by subscription": {
              "$ref": "./examples/Resolver_ListInSubscription.json"
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/managedResolvers/{managedResolverName}/endpoints/{endpointName}": {
        "put": {
          "tags": [
            "Endpoints"
          ],
          "operationId": "Endpoints_CreateOrUpdate",
          "description": "Creates or updates a managed DNS resolver endpoint.",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/ResolverNameParameter"
            },
            {
              "$ref": "#/parameters/EndpointNameParameter"
            },
            {
              "name": "parameters",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/Endpoint"
              },
              "description": "Parameters supplied to the CreateOrUpdate operation."
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "#/parameters/IfMatchParameter"
            },
            {
              "$ref": "#/parameters/IfNoneMatchParameter"
            }
          ],
          "responses": {
            "201": {
              "description": "The managed DNS resolver endpoint has been created.",
              "schema": {
                "$ref": "#/definitions/Endpoint"
              }
            },
            "200": {
              "description": "The managed DNS resolver endpoint has been updated.",
              "schema": {
                "$ref": "#/definitions/Endpoint"
              }
            },
            "202": {
              "description": "The managed DNS resolver endpoint upsert operation has been accepted and will complete asynchronously."
            },
            "default": {
              "description": "Default response. It will be deserialized as per the Error definition.",
              "schema": {
                "$ref": "#/definitions/CloudError"
              }
            }
          },
          "x-ms-long-running-operation": true,
          "x-ms-examples": {
            "PUT managed DNS resolver endpoint": {
              "$ref": "./examples/Endpoint_Put.json"
            }
          }
        },
        "patch": {
          "tags": [
            "Endpoints"
          ],
          "operationId": "Endpoints_Update",
          "description": "Updates a managed DNS resolver endpoint.",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/ResolverNameParameter"
            },
            {
              "$ref": "#/parameters/EndpointNameParameter"
            },
            {
              "name": "parameters",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/Endpoint"
              },
              "description": "Parameters supplied to the Update operation."
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "#/parameters/IfMatchParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "The managed DNS resolver endpoint has been updated.",
              "schema": {
                "$ref": "#/definitions/Endpoint"
              }
            },
            "202": {
              "description": "The managed DNS resolver endpoint update operation has been accepted and will complete asynchronously."
            },
            "default": {
              "description": "Default response. It will be deserialized as per the Error definition.",
              "schema": {
                "$ref": "#/definitions/CloudError"
              }
            }
          },
          "x-ms-long-running-operation": true,
          "x-ms-examples": {
            "PATCH managed DNS resolver endpoint": {
              "$ref": "./examples/Endpoint_Patch.json"
            }
          }
        },
        "delete": {
          "tags": [
            "Endpoints"
          ],
          "operationId": "Endpoints_Delete",
          "description": "Deletes a managed DNS resolver endpoint. WARNING: This operation cannot be undone.",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/ResolverNameParameter"
            },
            {
              "$ref": "#/parameters/EndpointNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "#/parameters/IfMatchParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "The managed DNS resolver endpoint has been deleted."
            },
            "202": {
              "description": "The managed DNS resolver endpoint delete operation has been accepted and will complete asynchronously."
            },
            "204": {
              "description": "The managed DNS resolver endpoint was not found."
            },
            "default": {
              "description": "Default response. It will be deserialized as per the Error definition.",
              "schema": {
                "$ref": "#/definitions/CloudError"
              }
            }
          },
          "x-ms-long-running-operation": true,
          "x-ms-examples": {
            "DELETE managed DNS resolver endpoint": {
              "$ref": "./examples/Endpoint_Delete.json"
            }
          }
        },
        "get": {
          "tags": [
            "Endpoints"
          ],
          "operationId": "Endpoints_Get",
          "description": "Gets a managed DNS resolver endpoint properties.",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/ResolverNameParameter"
            },
            {
              "$ref": "#/parameters/EndpointNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "The managed DNS resolver endpoint was found.",
              "schema": {
                "$ref": "#/definitions/Endpoint"
              }
            },
            "default": {
              "description": "Default response. It will be deserialized as per the Error definition.",
              "schema": {
                "$ref": "#/definitions/CloudError"
              }
            }
          },
          "x-ms-examples": {
            "GET managed DNS resolver endpoint": {
              "$ref": "./examples/Endpoint_Get.json"
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/managedResolvers/{managedResolverName}/endpoints": {
        "get": {
          "tags": [
            "Endpoints"
          ],
          "operationId": "Endpoints_List",
          "description": "Lists the endpoints for the specified managed DNS resolver.",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/ResolverNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "#/parameters/TopParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "The operation succeeded.",
              "schema": {
                "$ref": "#/definitions/EndpointListResult"
              }
            },
            "default": {
              "description": "Default response. It will be deserialized as per the Error definition.",
              "schema": {
                "$ref": "#/definitions/CloudError"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          },
          "x-ms-examples": {
            "GET endpoints by managed DNS resolver": {
              "$ref": "./examples/Endpoint_List.json"
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/managedResolvers/{managedResolverName}/managedResolverRulesetLinks/{managedResolverRulesetLinkName}": {
        "put": {
          "tags": [
            "RulesetLinks"
          ],
          "operationId": "RulesetLinks_CreateOrUpdate",
          "description": "Creates or updates a ruleset link to managed DNS resolver.",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/ResolverNameParameter"
            },
            {
              "$ref": "#/parameters/RulesetLinkNameParameter"
            },
            {
              "name": "parameters",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/RulesetLink"
              },
              "description": "Parameters supplied to the CreateOrUpdate operation."
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "#/parameters/IfMatchParameter"
            },
            {
              "$ref": "#/parameters/IfNoneMatchParameter"
            }
          ],
          "responses": {
            "201": {
              "description": "The ruleset link to the managed DNS resolver has been created.",
              "schema": {
                "$ref": "#/definitions/RulesetLink"
              }
            },
            "200": {
              "description": "The ruleset link to the managed DNS resolver has been updated.",
              "schema": {
                "$ref": "#/definitions/RulesetLink"
              }
            },
            "202": {
              "description": "The operation to create ruleset link to managed DNS resolver has been accepted and will complete asynchronously."
            },
            "default": {
              "description": "Default response. It will be deserialized as per the Error definition.",
              "schema": {
                "$ref": "#/definitions/CloudError"
              }
            }
          },
          "x-ms-long-running-operation": true,
          "x-ms-examples": {
            "PUT managed DNS resolver ruleset link": {
              "$ref": "./examples/RulesetLink_Put.json"
            }
          }
        },
        "patch": {
          "tags": [
            "RulesetLinks"
          ],
          "operationId": "RulesetLinks_Update",
          "description": "Updates a ruleset link to managed DNS resolver.",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/ResolverNameParameter"
            },
            {
              "$ref": "#/parameters/RulesetLinkNameParameter"
            },
            {
              "name": "parameters",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/RulesetLink"
              },
              "description": "Parameters supplied to the Update operation."
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "#/parameters/IfMatchParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "The ruleset link to the managed DNS resolver has been updated.",
              "schema": {
                "$ref": "#/definitions/RulesetLink"
              }
            },
            "202": {
              "description": "The operation to update ruleset link to managed DNS resolver has been accepted and will complete asynchronously."
            },
            "default": {
              "description": "Default response. It will be deserialized as per the Error definition.",
              "schema": {
                "$ref": "#/definitions/CloudError"
              }
            }
          },
          "x-ms-long-running-operation": true,
          "x-ms-examples": {
            "PATCH managed DNS resolver ruleset link": {
              "$ref": "./examples/RulesetLink_Patch.json"
            }
          }
        },
        "delete": {
          "tags": [
            "RulesetLinks"
          ],
          "operationId": "RulesetLinks_Delete",
          "description": "Deletes a ruleset link to managed DNS resolver. WARNING: This operation cannot be undone.",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/ResolverNameParameter"
            },
            {
              "$ref": "#/parameters/RulesetLinkNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "#/parameters/IfMatchParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "The ruleset link to the managed DNS resolver has been deleted."
            },
            "202": {
              "description": "The operation to delete ruleset link to managed DNS resolver has been accepted and will complete asynchronously."
            },
            "204": {
              "description": "The ruleset link to the managed DNS resolver was not found."
            },
            "default": {
              "description": "Default response. It will be deserialized as per the Error definition.",
              "schema": {
                "$ref": "#/definitions/CloudError"
              }
            }
          },
          "x-ms-long-running-operation": true,
          "x-ms-examples": {
            "DELETE managed DNS resolver ruleset link": {
              "$ref": "./examples/RulesetLink_Delete.json"
            }
          }
        },
        "get": {
          "tags": [
            "RulesetLinks"
          ],
          "operationId": "RulesetLinks_Get",
          "description": "Gets properties of a ruleset link to managed DNS resolver.",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/ResolverNameParameter"
            },
            {
              "$ref": "#/parameters/RulesetLinkNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "The ruleset link to the managed DNS resolver was found.",
              "schema": {
                "$ref": "#/definitions/RulesetLink"
              }
            },
            "default": {
              "description": "Default response. It will be deserialized as per the Error definition.",
              "schema": {
                "$ref": "#/definitions/CloudError"
              }
            }
          },
          "x-ms-examples": {
            "GET managed DNS resolver ruleset link": {
              "$ref": "./examples/RulesetLink_Get.json"
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/managedResolvers/{managedResolverName}/managedResolverRulesetLinks": {
        "get": {
          "tags": [
            "RulesetLinks"
          ],
          "operationId": "RulesetLinks_List",
          "description": "Lists ruleset links to a specified managed DNS resolver.",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/ResolverNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "#/parameters/TopParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "The operation succeeded.",
              "schema": {
                "$ref": "#/definitions/RulesetLinkListResult"
              }
            },
            "default": {
              "description": "Default response. It will be deserialized as per the Error definition.",
              "schema": {
                "$ref": "#/definitions/CloudError"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          },
          "x-ms-examples": {
            "GET ruleset links by managed DNS resolver": {
              "$ref": "./examples/RulesetLink_List.json"
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/managedResolverRulesets/{managedResolverRulesetName}": {
        "put": {
          "tags": [
            "Rulesets"
          ],
          "operationId": "Rulesets_CreateOrUpdate",
          "description": "Creates or updates a managed resolver ruleset. Does not modify rules within the ruleset.",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/RulesetNameParameter"
            },
            {
              "name": "parameters",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/Ruleset"
              },
              "description": "Parameters supplied to the CreateOrUpdate operation."
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "#/parameters/IfMatchParameter"
            },
            {
              "$ref": "#/parameters/IfNoneMatchParameter"
            }
          ],
          "responses": {
            "201": {
              "description": "The managed resolver ruleset has been created.",
              "schema": {
                "$ref": "#/definitions/Ruleset"
              }
            },
            "200": {
              "description": "The managed resolver ruleset has been updated.",
              "schema": {
                "$ref": "#/definitions/Ruleset"
              }
            },
            "202": {
              "description": "The managed resolver ruleset upsert operation has been accepted and will complete asynchronously."
            },
            "default": {
              "description": "Default response. It will be deserialized as per the Error definition.",
              "schema": {
                "$ref": "#/definitions/CloudError"
              }
            }
          },
          "x-ms-long-running-operation": true,
          "x-ms-examples": {
            "PUT managed resolver ruleset": {
              "$ref": "./examples/Ruleset_Put.json"
            }
          }
        },
        "patch": {
          "tags": [
            "Rulesets"
          ],
          "operationId": "Rulesets_Update",
          "description": "Updates a managed resolver ruleset. Does not modify rules within the ruleset.",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/RulesetNameParameter"
            },
            {
              "name": "parameters",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/Ruleset"
              },
              "description": "Parameters supplied to the Update operation."
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "#/parameters/IfMatchParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "The managed resolver ruleset has been updated.",
              "schema": {
                "$ref": "#/definitions/Ruleset"
              }
            },
            "202": {
              "description": "The managed resolver ruleset update operation has been accepted and will complete asynchronously."
            },
            "default": {
              "description": "Default response. It will be deserialized as per the Error definition.",
              "schema": {
                "$ref": "#/definitions/CloudError"
              }
            }
          },
          "x-ms-long-running-operation": true,
          "x-ms-examples": {
            "PATCH managed resolver ruleset": {
              "$ref": "./examples/Ruleset_Patch.json"
            }
          }
        },
        "delete": {
          "tags": [
            "Rulesets"
          ],
          "operationId": "Rulesets_Delete",
          "description": "Deletes a managed resolver ruleset. WARNING: This operation cannot be undone. All rules within the ruleset will also be deleted.",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/RulesetNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "#/parameters/IfMatchParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "The managed resolver ruleset has been deleted."
            },
            "202": {
              "description": "The managed resolver ruleset delete operation has been accepted and will complete asynchronously."
            },
            "204": {
              "description": "The managed resolver ruleset was not found."
            },
            "default": {
              "description": "Default response. It will be deserialized as per the Error definition.",
              "schema": {
                "$ref": "#/definitions/CloudError"
              }
            }
          },
          "x-ms-long-running-operation": true,
          "x-ms-examples": {
            "DELETE managed resolver ruleset": {
              "$ref": "./examples/Ruleset_Delete.json"
            }
          }
        },
        "get": {
          "tags": [
            "Rulesets"
          ],
          "operationId": "Rulesets_Get",
          "description": "Gets a managed resolver ruleset properties.",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/RulesetNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "The managed resolver ruleset was found.",
              "schema": {
                "$ref": "#/definitions/Ruleset"
              }
            },
            "default": {
              "description": "Default response. It will be deserialized as per the Error definition.",
              "schema": {
                "$ref": "#/definitions/CloudError"
              }
            }
          },
          "x-ms-examples": {
            "GET managed resolver ruleset": {
              "$ref": "./examples/Ruleset_Get.json"
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/managedResolverRulesets": {
        "get": {
          "tags": [
            "Rulesets"
          ],
          "operationId": "Rulesets_ListByResourceGroup",
          "description": "Lists the managed resolver rulesets within a resource group.",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "#/parameters/TopParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "The operation succeeded.",
              "schema": {
                "$ref": "#/definitions/RulesetListResult"
              }
            },
            "default": {
              "description": "Default response. It will be deserialized as per the Error definition.",
              "schema": {
                "$ref": "#/definitions/CloudError"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          },
          "x-ms-examples": {
            "GET managed resolver ruleset by resource group": {
              "$ref": "./examples/Ruleset_ListInResourceGroup.json"
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/providers/Microsoft.Network/managedResolverRulesets": {
        "get": {
          "tags": [
            "Rulesets"
          ],
          "operationId": "Rulesets_List",
          "description": "Lists the managed resolver rulesets in all resource groups in a subscription.",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "#/parameters/TopParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "The operation succeeded.",
              "schema": {
                "$ref": "#/definitions/RulesetListResult"
              }
            },
            "default": {
              "description": "Default response. It will be deserialized as per the Error definition.",
              "schema": {
                "$ref": "#/definitions/CloudError"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          },
          "x-ms-examples": {
            "GET managed resolver ruleset by subscription": {
              "$ref": "./examples/Ruleset_ListInSubscription.json"
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/managedResolverRulesets/{managedResolverRulesetName}/managedResolverRules/{managedResolverRuleName}": {
        "put": {
          "tags": [
            "Rules"
          ],
          "operationId": "Rules_CreateOrUpdate",
          "description": "Creates or updates a managed resolver rule in the specified ruleset.",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/RulesetNameParameter"
            },
            {
              "$ref": "#/parameters/RuleNameParameter"
            },
            {
              "name": "parameters",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/Rule"
              },
              "description": "Parameters supplied to the CreateOrUpdate operation."
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "#/parameters/IfMatchParameter"
            },
            {
              "$ref": "#/parameters/IfNoneMatchParameter"
            }
          ],
          "responses": {
            "201": {
              "description": "The managed resolver rule has been created.",
              "schema": {
                "$ref": "#/definitions/Rule"
              }
            },
            "200": {
              "description": "The managed resolver rule has been updated.",
              "schema": {
                "$ref": "#/definitions/Rule"
              }
            },
            "202": {
              "description": "The operation to upsert managed resolver rule has been accepted and will complete asynchronously."
            },
            "default": {
              "description": "Default response. It will be deserialized as per the Error definition.",
              "schema": {
                "$ref": "#/definitions/CloudError"
              }
            }
          },
          "x-ms-long-running-operation": true,
          "x-ms-examples": {
            "PUT managed resolver rule": {
              "$ref": "./examples/Rule_Put.json"
            }
          }
        },
        "patch": {
          "tags": [
            "Rules"
          ],
          "operationId": "Rules_Update",
          "description": "Updates a managed resolver rule in the specified ruleset.",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/RulesetNameParameter"
            },
            {
              "$ref": "#/parameters/RuleNameParameter"
            },
            {
              "name": "parameters",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/Rule"
              },
              "description": "Parameters supplied to the Update operation."
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "#/parameters/IfMatchParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "The managed resolver rule has been updated.",
              "schema": {
                "$ref": "#/definitions/Rule"
              }
            },
            "202": {
              "description": "The operation to add managed resolver rule for Managed DNS resolver has been accepted and will complete asynchronously."
            },
            "default": {
              "description": "Default response. It will be deserialized as per the Error definition.",
              "schema": {
                "$ref": "#/definitions/CloudError"
              }
            }
          },
          "x-ms-long-running-operation": true,
          "x-ms-examples": {
            "PATCH managed resolver rule": {
              "$ref": "./examples/Rule_Patch.json"
            }
          }
        },
        "delete": {
          "tags": [
            "Rules"
          ],
          "operationId": "Rules_Delete",
          "description": "Deletes a managed resolver rule in the specified rulset. WARNING: This operation cannot be undone.",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/RulesetNameParameter"
            },
            {
              "$ref": "#/parameters/RuleNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "#/parameters/IfMatchParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "The managed resolver rule has been deleted."
            },
            "202": {
              "description": "The operation to delete managed resolver rule has been accepted and will complete asynchronously."
            },
            "204": {
              "description": "The managed resolver rule was not found."
            },
            "default": {
              "description": "Default response. It will be deserialized as per the Error definition.",
              "schema": {
                "$ref": "#/definitions/CloudError"
              }
            }
          },
          "x-ms-long-running-operation": true,
          "x-ms-examples": {
            "DELETE managed resolver rule": {
              "$ref": "./examples/Rule_Delete.json"
            }
          }
        },
        "get": {
          "tags": [
            "Rules"
          ],
          "operationId": "Rules_Get",
          "description": "Gets a managed resolver rule properties in the specified ruleset.",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/RulesetNameParameter"
            },
            {
              "$ref": "#/parameters/RuleNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "The managed resolver rule was found.",
              "schema": {
                "$ref": "#/definitions/Rule"
              }
            },
            "default": {
              "description": "Default response. It will be deserialized as per the Error definition.",
              "schema": {
                "$ref": "#/definitions/CloudError"
              }
            }
          },
          "x-ms-examples": {
            "GET managed resolver rule": {
              "$ref": "./examples/Rule_Get.json"
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/managedResolverRulesets/{managedResolverRulesetName}/managedResolverRules": {
        "get": {
          "tags": [
            "Rules"
          ],
          "operationId": "Rules_List",
          "description": "Lists the managed resolver rules in the specified ruleset.",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/RulesetNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "#/parameters/TopParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "The operation succeeded.",
              "schema": {
                "$ref": "#/definitions/RuleListResult"
              }
            },
            "default": {
              "description": "Default response. It will be deserialized as per the Error definition.",
              "schema": {
                "$ref": "#/definitions/CloudError"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          },
          "x-ms-examples": {
            "GET managed resolver rules by ruleset": {
              "$ref": "./examples/Rule_List.json"
            }
          }
        }
      }
    },
    "definitions": {
      "ResolverProperties": {
        "description": "Represents the properties of a managed DNS resolver.",
        "properties": {
          "virtualNetwork": {
            "description": "The reference to the virtual network. This cannot be changed after creation.",
            "$ref": "#/definitions/SubResource"
          },
          "maxNumberOfEndpoints": {
            "description": "The maximum number of endpoints that can be created for this managed DNS resolver. This is a read-only property and any attempt to set this value will be ignored.",
            "type": "integer",
            "format": "int64",
            "readOnly": true
          },
          "numberOfEndpoints": {
            "description": "The current number of endpoints for this managed DNS resolver. This is a read-only property and any attempt to set this value will be ignored.",
            "type": "integer",
            "format": "int64",
            "readOnly": true
          },
          "managedResolverState": {
            "description": "The status of the managed DNS resolver. This is a read-only property and any attempt to set this value will be ignored.",
            "type": "string",
            "enum": [
              "InboundOnly",
              "Connected",
              "Disconnected"
            ],
            "x-ms-enum": {
              "name": "ManagedResolverState",
              "modelAsString": true
            },
            "readOnly": true
          },
          "provisioningState": {
            "description": "The current provisioning state of the managed DNS resolver. This is a read-only property and any attempt to set this value will be ignored.",
            "$ref": "#/definitions/ProvisioningState",
            "readOnly": true
          }
        }
      },
      "Resolver": {
        "description": "Describes a managed DNS resolver.",
        "properties": {
          "etag": {
            "description": "The ETag of the managed DNS resolver.",
            "type": "string"
          },
          "properties": {
            "description": "Properties of a managed DNS resolver.",
            "$ref": "#/definitions/ResolverProperties",
            "x-ms-client-flatten": true
          }
        },
        "allOf": [
          {
            "$ref": "#/definitions/TrackedResource"
          }
        ]
      },
      "ResolverListResult": {
        "description": "The response to an enumeration operation on managed DNS resolvers.",
        "properties": {
          "value": {
            "description": "Enumeration of the managed DNS resolvers.",
            "type": "array",
            "items": {
              "$ref": "#/definitions/Resolver"
            }
          },
          "nextLink": {
            "description": "The continuation token for the next page of results.",
            "type": "string",
            "readOnly": true
          }
        }
      },
      "EndpointProperties": {
        "description": "Represents the properties of a managed DNS resolver endpoint.",
        "properties": {
          "subnet": {
            "description": "The reference to the subnet used for IP configurations.",
            "$ref": "#/definitions/SubResource"
          },
          "ipConfigurations": {
            "description": "IP configurations for the endpoint.",
            "type": "array",
            "items": {
              "$ref": "#/definitions/IpConfiguration"
            }
          },
          "endpointState": {
            "description": "The status of the endpoint. This is a read-only property and any attempt to set this value will be ignored.",
            "type": "string",
            "enum": [
              "Active",
              "Recovering",
              "Inactive"
            ],
            "x-ms-enum": {
              "name": "EndpointState",
              "modelAsString": true
            },
            "readOnly": true
          },
          "provisioningState": {
            "description": "The current provisioning state of the managed DNS resolver endpoint. This is a read-only property and any attempt to set this value will be ignored.",
            "$ref": "#/definitions/ProvisioningState",
            "readOnly": true
          }
        }
      },
      "Endpoint": {
        "description": "Describes a managed DNS resolver endpoint.",
        "properties": {
          "etag": {
            "description": "The ETag of the managed DNS resolver endpoint.",
            "type": "string"
          },
          "zones": {
            "description": "Availability zone for endpoint provisioning.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "properties": {
            "description": "Properties of a managed DNS resolver endpoint.",
            "$ref": "#/definitions/EndpointProperties",
            "x-ms-client-flatten": true
          }
        },
        "allOf": [
          {
            "$ref": "#/definitions/ProxyResource"
          }
        ]
      },
      "EndpointListResult": {
        "description": "The response to an enumeration operation on managed DNS resolver endpoints.",
        "properties": {
          "value": {
            "description": "Enumeration of the managed DNS resolver endpoints.",
            "type": "array",
            "items": {
              "$ref": "#/definitions/Endpoint"
            }
          },
          "nextLink": {
            "description": "The continuation token for the next page of results.",
            "type": "string",
            "readOnly": true
          }
        }
      },
      "RulesetLinkProperties": {
        "description": "Represents the properties of a ruleset link to a managed DNS resolver.",
        "properties": {
          "managedResolverRuleset": {
            "description": "The reference to the managed resolver ruleset. This cannot be changed after creation.",
            "$ref": "#/definitions/SubResource"
          },
          "provisioningState": {
            "description": "The current provisioning state of the link. This is a read-only property and any attempt to set this value will be ignored.",
            "$ref": "#/definitions/ProvisioningState",
            "readOnly": true
          }
        }
      },
      "RulesetLink": {
        "description": "Describes a ruleset link to managed DNS resolver.",
        "properties": {
          "etag": {
            "description": "The ETag of the ruleset link to managed DNS resolver.",
            "type": "string"
          },
          "properties": {
            "description": "Properties of a ruleset link to managed DNS resolver.",
            "$ref": "#/definitions/RulesetLinkProperties",
            "x-ms-client-flatten": true
          }
        },
        "allOf": [
          {
            "$ref": "#/definitions/ProxyResource"
          }
        ]
      },
      "RulesetLinkListResult": {
        "description": "The response to an enumeration operation on ruleset links to managed DNS resolver.",
        "properties": {
          "value": {
            "description": "Enumeration of the ruleset links to managed DNS resolver.",
            "type": "array",
            "items": {
              "$ref": "#/definitions/RulesetLink"
            }
          },
          "nextLink": {
            "description": "The continuation token for the next page of results.",
            "type": "string",
            "readOnly": true
          }
        }
      },
      "RulesetProperties": {
        "description": "Represents the properties of a managed resolver ruleset.",
        "properties": {
          "maxNumberOfManagedResolverRules": {
            "description": "The maximum number of managed resolver rules that can be created in this ruleset. This is a read-only property and any attempt to set this value will be ignored.",
            "type": "integer",
            "format": "int64",
            "readOnly": true
          },
          "numberOfManagedResolverRules": {
            "description": "The current number of managed resolver rules in this ruleset. This is a read-only property and any attempt to set this value will be ignored.",
            "type": "integer",
            "format": "int64",
            "readOnly": true
          },
          "maxNumberOfManagedResolverLinks": {
            "description": "The maximum number of managed DNS resolvers that can be linked to this ruleset. This is a read-only property and any attempt to set this value will be ignored.",
            "type": "integer",
            "format": "int64",
            "readOnly": true
          },
          "numberOfManagedResolverLinks": {
            "description": "The current number of managed DNS resolvers that are linked to this ruleset. This is a read-only property and any attempt to set this value will be ignored.",
            "type": "integer",
            "format": "int64",
            "readOnly": true
          },
          "provisioningState": {
            "description": "The current provisioning state of the ruleset. This is a read-only property and any attempt to set this value will be ignored.",
            "$ref": "#/definitions/ProvisioningState",
            "readOnly": true
          }
        }
      },
      "Ruleset": {
        "description": "Describes a managed resolver ruleset.",
        "properties": {
          "etag": {
            "description": "The ETag of the managed resolver ruleset.",
            "type": "string"
          },
          "properties": {
            "description": "Properties of a managed resolver ruleset.",
            "$ref": "#/definitions/RulesetProperties",
            "x-ms-client-flatten": true
          }
        },
        "allOf": [
          {
            "$ref": "#/definitions/TrackedResource"
          }
        ]
      },
      "RulesetListResult": {
        "description": "The response to an enumeration operation on managed resolver rulesets.",
        "properties": {
          "value": {
            "description": "Enumeration of the managed resolver rulesets.",
            "type": "array",
            "items": {
              "$ref": "#/definitions/Ruleset"
            }
          },
          "nextLink": {
            "description": "The continuation token for the next page of results.",
            "type": "string",
            "readOnly": true
          }
        }
      },
      "RuleProperties": {
        "description": "Represents the properties of a managed resolver rule within the ruleset.",
        "properties": {
          "action": {
            "description": "The action to take as part of rule execution. Use 'Forward' to route the DNS queries for the domain to servers specified as part of `targetDnsServers` property. Use 'Default' to render default behavior (skipping managed resolver rule execution) for the specified domain. This value cannot be changed after the rule has been created.",
            "type": "string",
            "enum": [
              "Forward",
              "Default"
            ],
            "x-ms-enum": {
              "name": "ManagedResolverRuleAction",
              "modelAsString": true
            }
          },
          "targetDnsServers": {
            "description": "Enumeration of DNS servers to forward the DNS query to. This property is only applicable when the managed resolver rule `type` is set to 'Forward'.",
            "type": "array",
            "items": {
              "$ref": "#/definitions/TargetDnsServer"
            }
          },
          "disabled": {
            "description": "Is the managed resolver rule disabled? Allows users to disable a specific rule without deleting it.",
            "type": "boolean"
          },
          "provisioningState": {
            "description": "The current provisioning state of the managed resolver rule. This is a read-only property and any attempt to set this value will be ignored.",
            "$ref": "#/definitions/ProvisioningState",
            "readOnly": true
          }
        }
      },
      "Rule": {
        "description": "Describes a managed resolver rule within a ruleset.",
        "properties": {
          "etag": {
            "description": "The ETag of the managed resolver rule.",
            "type": "string"
          },
          "properties": {
            "description": "Properties of a managed resolver rule within the ruleset.",
            "$ref": "#/definitions/RuleProperties",
            "x-ms-client-flatten": true
          }
        },
        "allOf": [
          {
            "$ref": "#/definitions/ProxyResource"
          }
        ]
      },
      "RuleListResult": {
        "description": "The response to an enumeration operation on managed resolver rules within a ruleset.",
        "properties": {
          "value": {
            "description": "Enumeration of the managed resolver rules within a ruleset.",
            "type": "array",
            "items": {
              "$ref": "#/definitions/Rule"
            }
          },
          "nextLink": {
            "description": "The continuation token for the next page of results.",
            "type": "string",
            "readOnly": true
          }
        }
      },
      "IpConfiguration": {
        "description": "Managed DNS resolver endpoint IP configuration",
        "properties": {
          "privateIpAddress": {
            "description": "Private IP address for the IP configuration.",
            "type": "string"
          },
          "privateIpAllocationMethod": {
            "description": "Private IP address allocation method.",
            "type": "string",
            "enum": [
              "Static",
              "Dynamic"
            ],
            "x-ms-enum": {
              "name": "IpAllocationMethod",
              "modelAsString": true
            }
          }
        }
      },
      "ProvisioningState": {
        "description": "The current provisioning state of the resource.",
        "type": "string",
        "enum": [
          "Creating",
          "Updating",
          "Deleting",
          "Succeeded",
          "Failed",
          "Canceled"
        ],
        "x-ms-enum": {
          "name": "ProvisioningState",
          "modelAsString": true
        }
      },
      "TargetDnsServer": {
        "description": "Describes a server to forward the DNS queries to.",
        "properties": {
          "ipAddress": {
            "description": "DNS server IP address.",
            "type": "string"
          },
          "port": {
            "description": "DNS server port.",
            "type": "integer"
          }
        }
      },
      "Resource": {
        "description": "The core properties of ARM resources",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true,
            "description": "Fully qualified resource Id for the resource. Example - '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/managedResolvers/{managedResolverName}'."
          },
          "name": {
            "type": "string",
            "readOnly": true,
            "description": "The name of the resource"
          },
          "type": {
            "type": "string",
            "readOnly": true,
            "description": "The type of the resource. Example - 'Microsoft.Network/managedResolvers'."
          }
        },
        "x-ms-azure-resource": true
      },
      "TrackedResource": {
        "description": "The resource model definition for a ARM tracked top level resource",
        "properties": {
          "tags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "x-ms-mutability": [
              "read",
              "create",
              "update"
            ],
            "description": "Resource tags."
          },
          "location": {
            "type": "string",
            "x-ms-mutability": [
              "read",
              "create"
            ],
            "description": "The Azure Region where the resource lives"
          }
        },
        "allOf": [
          {
            "$ref": "#/definitions/Resource"
          }
        ]
      },
      "ProxyResource": {
        "description": "The resource model definition for an ARM proxy resource.",
        "allOf": [
          {
            "$ref": "#/definitions/Resource"
          }
        ]
      },
      "SubResource": {
        "description": "Reference to another ARM resource.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Resource ID."
          }
        },
        "x-ms-azure-resource": true
      },
      "CloudError": {
        "description": "An error message",
        "type": "object",
        "properties": {
          "error": {
            "description": "The error message body",
            "$ref": "#/definitions/CloudErrorBody"
          }
        },
        "x-ms-external": true
      },
      "CloudErrorBody": {
        "description": "The body of an error message",
        "type": "object",
        "properties": {
          "code": {
            "description": "The error code",
            "type": "string"
          },
          "message": {
            "description": "A description of what caused the error",
            "type": "string"
          },
          "target": {
            "description": "The target resource of the error message",
            "type": "string"
          },
          "details": {
            "description": "Extra error information",
            "type": "array",
            "items": {
              "$ref": "#/definitions/CloudErrorBody"
            }
          }
        },
        "x-ms-external": true
      }
    },
    "parameters": {
      "SubscriptionIdParameter": {
        "name": "subscriptionId",
        "in": "path",
        "required": true,
        "type": "string",
        "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
        "x-ms-parameter-location": "client"
      },
      "ResourceGroupNameParameter":{
        "name": "resourceGroupName",
        "in": "path",
        "required": true,
        "type": "string",
        "description": "The name of the resource group.",
        "x-ms-parameter-location": "method"
      },
      "ResolverNameParameter": {
        "name": "managedResolverName",
        "in": "path",
        "required": true,
        "type": "string",
        "description": "The name of the managed DNS resolver.",
        "x-ms-parameter-location": "method"
      },
      "EndpointNameParameter": {
        "name": "endpointName",
        "in": "path",
        "required": true,
        "type": "string",
        "description": "The name of the managed DNS resolver endpoint.",
        "x-ms-parameter-location": "method"
      },
      "RulesetLinkNameParameter": {
        "name": "managedResolverRulesetLinkName",
        "in": "path",
        "required": true,
        "type": "string",
        "description": "The name of the managed ruleset link.",
        "x-ms-parameter-location": "method"
      },
      "RulesetNameParameter": {
        "name": "managedResolverRulesetName",
        "in": "path",
        "required": true,
        "type": "string",
        "description": "The name of the managed resolver ruleset.",
        "x-ms-parameter-location": "method"
      },
      "RuleNameParameter": {
        "name": "managedResolverRuleName",
        "in": "path",
        "required": true,
        "type": "string",
        "description": "The name of the managed resolver rule.",
        "x-ms-parameter-location": "method"
      },
      "TopParameter": {
        "name": "$top",
        "in": "query",
        "required": false,
        "type": "integer",
        "format": "int32",
        "description": "The maximum number of results to return. If not specified, returns up to 100 results.",
        "x-ms-parameter-location": "method"
      },
      "ApiVersionParameter": {
        "name": "api-version",
        "in": "query",
        "required": true,
        "type": "string",
        "description": "Client API Version.",
        "x-ms-parameter-location": "client"
      },
      "IfMatchParameter": {
        "name": "If-Match",
        "in": "header",
        "required": false,
        "type": "string",
        "x-ms-client-name": "IfMatch",
        "description": "The ETag of the resource. Omit this value to always overwrite the current resource. Specify the last-seen ETag value to prevent accidentally overwriting any concurrent changes.",
        "x-ms-parameter-location": "method"
      },
      "IfNoneMatchParameter": {
        "name": "If-None-Match",
        "in": "header",
        "required": false,
        "type": "string",
        "x-ms-client-name": "IfNoneMatch",
        "description": "Set to '*' to allow a new resource to be created, but to prevent updating an existing resource. Other values will be ignored.",
        "x-ms-parameter-location": "method"
      }
    }
  }
